auto host0
iface host0 inet static
  address {{ lookup('dig', '{{ item }}.{{ ansible_domain }}') }}
  netmask {{ guest_network | ipaddr('netmask') }}
  gateway {{ guest_network | ipaddr('next_usable') }}
